
.middle-container{
  width: 100%;
  height: 675px;
  background: white;
  margin-top: 50px;
  position: relative;

}
.background {
    background-position: center;
    position: absolute;
    width: 100%;
    height: 675px;


}

.left-bg{
  width: 25%;
  height: 300px;
  float: left;
  left: 0;
  top: 0;
  position: relative;
}


.right-bg{
  width: 75%;
  height: 675px;
  background-color: rgb(216, 216, 216);
  float: right;
  display: flex;
  right: 10px;
  top: 0;
  position: relative;
  margin-top: 10px;
}

.left-container{
  width: 50%;
}

.right-container{
  width: 50%;
}

.right-column1{
  width: 100%;
  height: 150px;
  position: relative;
}

.left-column1{
  width: 100%;
  height: 150px;
  position: relative;

}

.todays{
  color: white;
  width: 80%;
  height: 100px;
  background-color: rgb(0, 174, 255);
  margin-top: 20px;
  margin-left: 10%;
  padding: 15px;
  border-radius: 10px;
}
h3{
  margin: 0;
  border: 0;
  font-family: 'Poppins', sans-serif;
}
h2{
  margin: 0;
  border: 0;
  font-size: 1.7rem;
  font-family: 'Poppins', sans-serif;
}
span{
  margin: 0;
  border: 0;
  font-family: 'Poppins', sans-serif;
}
.total{
  color: white;
  width: 80%;
  height: 100px;
  background-color: black;
  margin-top: 20px;
  margin-left: 10%;
  margin-bottom: 50px;
  padding: 15px;
  border-radius: 10px;

}

.container-left1{
  position: relative;
  width: 100%;
  height: 100px;
  background-color: white;
}
.container-left1 h5{
  width: 100%;
}
.place{
  float: left;
  width: 280px;
  margin: 10px;
  text-align: left;
}
.progress-left1{
  width: 390px;
  height: 30px;
  background-color: black;
  border-radius: 5px;
  margin: 10px;
  overflow: hidden;
}
.progress-fill-left1{
  width: 12%;
  height: 100%;
  background-color: rgb(0, 174, 255);
}

.progress-text-left1{
  position: absolute;
  top: 37px;
  right: 20px;
  font-size: 1.5rem;
}


.container-left2{
  position: relative;
  width: 100%;
  height: 100px;
  background-color: rgb(216, 216, 216);
}
.container-left2 h5{
  width: 100%;
}
.progress-left2{
  width: 390px;
  height: 30px;
  background-color: black;
  border-radius: 5px;
  margin: 10px;
  overflow: hidden;
}
.progress-fill-left2{
  width: 4%;
  height: 100%;
  background-color: rgb(0, 174, 255);
}

.progress-text-left2{
  position: absolute;
  top: 37px;
  right: 20px;
  font-size: 1.5rem;
}




.container-left3{
  position: relative;
  width: 100%;
  height: 100px;
  background-color: white;
}
.container-left3 h5{
  width: 100%;
}
.progress-left3{
  width: 390px;
  height: 30px;
  background-color: black;
  border-radius: 5px;
  margin: 10px;
  overflow: hidden;
}
.progress-fill-left3{
  width: 12%;
  height: 100%;
  background-color: rgb(0, 174, 255);
}

.progress-text-left3{
  position: absolute;
  top: 37px;
  right: 20px;
  font-size: 1.5rem;
}




.container-left4{
  position: relative;
  width: 100%;
  height: 100px;
  background-color: rgb(216, 216, 216);
}
.container-left4 h5{
  width: 100%;
}
.progress-left4{
  width: 390px;
  height: 30px;
  background-color: black;
  border-radius: 5px;
  margin: 10px;
  overflow: hidden;
}
.progress-fill-left4{
  width: 6%;
  height: 100%;
  background-color: rgb(0, 174, 255);
}

.progress-text-left4{
  position: absolute;
  top: 37px;
  right: 20px;
  font-size: 1.5rem;
}




.container-left5{
  position: relative;
  width: 100%;
  height: 100px;
  background-color: white;
}
.container-left5 h5{
  width: 100%;
}
.progress-left5{
  width: 390px;
  height: 30px;
  background-color: black;
  border-radius: 5px;
  margin: 10px;
  overflow: hidden;
}
.progress-fill-left5{
  width: 3%;
  height: 100%;
  background-color: rgb(0, 174, 255);
}

.progress-text-left5{
  position: absolute;
  top: 37px;
  right: 20px;
  font-size: 1.5rem;
}


.container-right1{
  position: relative;
  width: 100%;
  height: 100px;
  background-color: rgb(216, 216, 216);
}
.container-right1 h5{
  width: 100%;
}
.progress-right1{
  width: 390px;
  height: 30px;
  background-color: black;
  border-radius: 5px;
  margin: 10px;
  overflow: hidden;
}
.progress-fill-right1{
  width: 7%;
  height: 100%;
  background-color: rgb(0, 174, 255);
}

.progress-text-right1{
  position: absolute;
  top: 37px;
  right: 20px;
  font-size: 1.5rem;
}



.container-right2{
  position: relative;
  width: 100%;
  height: 100px;
  background-color: white;
}
.container-right2 h5{
  width: 100%;
}
.progress-right2{
  width: 390px;
  height: 30px;
  background-color: black;
  border-radius: 5px;
  margin: 10px;
  overflow: hidden;
}
.progress-fill-right2{
  width: 23%;
  height: 100%;
  background-color: rgb(0, 174, 255);
}

.progress-text-right2{
  position: absolute;
  top: 37px;
  right: 20px;
  font-size: 1.5rem;
}

.container-right3{
  position: relative;
  width: 100%;
  height: 100px;
  background-color: rgb(216, 216, 216);
}
.container-right3 h5{
  width: 100%;
}
.progress-right3{
  width: 390px;
  height: 30px;
  background-color: black;
  border-radius: 5px;
  margin: 10px;
  overflow: hidden;
}
.progress-fill-right3{
  width: 9%;
  height: 100%;
  background-color: rgb(0, 174, 255);
}

.progress-text-right3{
  position: absolute;
  top: 37px;
  right: 20px;
  font-size: 1.5rem;
}

.container-right4{
  position: relative;
  width: 100%;
  height: 100px;
  background-color: white;
}
.container-right4 h5{
  width: 100%;
}
.progress-right4{
  width: 390px;
  height: 30px;
  background-color: black;
  border-radius: 5px;
  margin: 10px;
  overflow: hidden;
}
.progress-fill-right4{
  width: 12%;
  height: 100%;
  background-color: rgb(0, 174, 255);
}

.progress-text-right4{
  position: absolute;
  top: 37px;
  right: 20px;
  font-size: 1.5rem;
}

.container-right5{
  position: relative;
  width: 100%;
  height: 100px;
  background-color: rgb(216, 216, 216);
}
.container-right5 h5{
  width: 100%;
}
.progress-right5{
  width: 390px;
  height: 30px;
  background-color: black;
  border-radius: 5px;
  margin: 10px;
  overflow: hidden;
}
.progress-fill-right5{
  width: 5%;
  height: 100%;
  background-color: rgb(0, 174, 255);
}

.progress-text-right5{
  position: absolute;
  top: 37px;
  right: 20px;
  font-size: 1.5rem;
}

.container-dashboard{
  width: 80%;
  height: 60px;
  margin-top: 10px;
  text-align: center;
  background-color: rgb(0, 174, 255);
  border-radius: 10px;
  margin-left: 10%;
  color: white;
  display: flex;
}
.btn1{
  text-align: left;
  width: 100%;
  border-radius: 10px;
}
.container-dashboard img{
  width: 40px;
  height: 40px;
  margin-right: 10px;
}


.container-registrants{
  width: 80%;
  height: 60px;
  margin-left: 10%;
  margin-top: 30px;
  text-align: center;
  background-color: rgb(0, 174, 255);
  border-radius: 10px;
  color: white;
  display: flex;
}

.container-registrants h2{
  padding-top: 14px;
  font-size: 1.5rem;
}
.container-registrants img{
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.btn2{
  text-align: left;
  width: 100%;
  border-radius: 10px;
  background: rgb(0, 174, 255);
}
